=<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <!-- <script src="http://code.jquery.com/jquery-latest.js"></script> -->


    <link rel="stylesheet" href="static/css/visual.css">

    <title>Traffic</title>
</head>

<!-- <body onload="onLoad();"> -->
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark" style="background-color: #878a8a; padding: 4px 16px">
            <div class="col-xs-2"> 
                <img src="https://scontent.fsgn1-1.fna.fbcdn.net/v/t1.0-9/121103325_141100801069955_4394738796969079743_o.png?_nc_cat=105&ccb=2&_nc_sid=09cbfe&_nc_ohc=DusBEtajKMYAX9p0v0_&_nc_ht=scontent.fsgn1-1.fna&oh=643858be5f6f89b3dabf469aabcb690c&oe=6023FFF8" alt="Logo AI" width="40" height="40">
                <h2 class="navbar-brand">Vehicle counting</h2>
            </div>
        </nav>
    </header>
    <div class="container" style="margin-top:20px">
        <div class="row">
                <div class="col">
                    <center>
                        <div class="grid-container">
                            <div class="item-mode">
                                <label for="mode"><b>Chọn Cam quan sát</b></label>
                            </div>
                            <div class="item-mode-select">
                                <select id="list_cams" name="mode">
                                    <option value="cam1">Cam1</option>
                                    <option value="cam2">Cam2</option>
                                </select>
                            </div>
                        </div>
                    
                        <div class="col">
                            <div class="item-submit-btn">
                                <button id="btn-visual" type="button" class="btn-load">load</button>
                            </div>
                        </div>
                    </center>

                    <br><br>
                    <div>
                        <center>
                            <!-- <iframe src="http://192.168.28.75:7777/stream1" id="streamcam" style="width: 88%; height: 49%;" title="Iframe Example"></iframe> -->
                            <!-- <img src="http://service.aiclub.cs.uit.edu.vn/vehicles_counting/stream1" id="streamcam"> -->
                            <img src="http://192.168.28.75:7778/stream1" id="streamcam">
                        </center>
                    </div>
                </div>

            <div class="col">
                
                <div class="row"  style="background-color: #f2f8f8;">
                    <div class="col">
                        <div class="card" style="width: 8rem;">
                            <!-- <img src="http://service.aiclub.cs.uit.edu.vn/vehicles_counting/vehicle/1" style="width: 126; height: 102;"> -->
                            <img src="http://192.168.28.75:7778/vehicle/1" style="width: 126; height: 102;">
                            <ul class="list-group list-group-flush">
                              <!-- <li class="list-group-item"><p></p></li> -->
                              <li class="list-group-item" id="class_crop1"></li>
                              <li class="list-group-item">Type: </li>
                              <li class="list-group-item">Color: </li>
                              <li class="list-group-item">MOI: </li>
                            </ul>
                        </div>
                        <br>
                        <div class="card" style="width: 8rem;">
                            <!-- <img src="http://service.aiclub.cs.uit.edu.vn/vehicles_counting/vehicle/4" style="width: 126; height: 102;"> -->
                            <img src="http://192.168.28.75:7778/vehicle/3" style="width: 126; height: 102;">
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item" id="class_crop2"></li>
                              <li class="list-group-item">Type: </li>
                              <li class="list-group-item">Color: </li>
                              <li class="list-group-item">MOI: </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 8rem;">
                            <!-- <img src="http://service.aiclub.cs.uit.edu.vn/vehicles_counting/vehicle/2" style="width: 126; height: 102;"> -->
                            <img src="http://192.168.28.75:7778/vehicle/2" style="width: 126; height: 102;">
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item" id="class_crop3"></li>
                              <li class="list-group-item">Type: </li>
                              <li class="list-group-item">Color: </li>
                              <li class="list-group-item">MOI: </li>
                            </ul>
                        </div>
                        <br>
                        <div class="card" style="width: 8rem;">
                            <!-- <img src="http://service.aiclub.cs.uit.edu.vn/vehicles_counting/vehicle/5" style="width: 126; height: 102;"> -->
                            <img src="http://192.168.28.75:7778/vehicle/4" style="width: 126; height: 102;">
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item" id="class_crop4"></li>
                              <li class="list-group-item">Type: </li>
                              <li class="list-group-item">Color: </li>
                              <li class="list-group-item">MOI: </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col">
                        <div class="card" style="width: 8rem;">
                            <img src="http://service.aiclub.cs.uit.edu.vn/vehicles_counting/vehicle/3" style="width: 126; height: 102;"> 
                            <img src="http://192.168.28.75:7778/vehicle/3" style="width: 126; height: 102;">
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">Class: </li>
                              <li class="list-group-item">Type: </li>
                              <li class="list-group-item">Color: </li>
                              <li class="list-group-item">MOI: </li>
                            </ul>
                        </div>
                        <br>
                        <div class="card" style="width: 8rem;">
                            <img src="http://service.aiclub.cs.uit.edu.vn/vehicles_counting/vehicle/6" style="width: 126; height: 102;">
                            <img src="http://192.168.28.75:7778/vehicle/6" style="width: 126; height: 102;">
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">Class: </li>
                              <li class="list-group-item">Type: </li>
                              <li class="list-group-item">Color: </li>
                              <li class="list-group-item">MOI: </li>
                            </ul>
                        </div>
                    </div> -->
                    
                </div>

                <div class="my_table">
                    <center><caption> <h3>Thống kê phương tiện</h3></caption></center>
                    <table style="width:100%">
                        <tr>
                            <th>Hướng di chuyển</th>
                            <th>MOI 1</th>
                            <th>MOI 2</th>
                            <th>MOI 3</th>
                            <th>MOI 4</th>
                            <th>MOI 5</th>
                            <th>MOI 6</th>
                            <th>Tổng</th>
                        </tr>
                        <tr>
                            <td>Số lượng</td>
                            <td>1000</td>
                            <td>1030</td>
                            <td>1200</td>
                            <td>1001</td>
                            <td>1000</td>
                            <td>1002</td>
                            <td>6000</td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="static/js/visual.js"></script>
</body>

</html>